:root {
  --background: #f8f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 40px;
  background-image: linear-gradient(to right, rgb(54, 0, 54), rgb(65, 0, 65));
}

.container-1 {
  max-width: 80rem;
  background-image: linear-gradient(to right, rgb(83, 0, 83), rgb(83, 0, 100));
  padding: 3rem;
  border-radius: 7em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
.container-2 {
  max-width: 80rem;
  background-image: linear-gradient(to right, rgb(75, 0, 90), rgb(100, 0, 129));
  padding: 3rem;
  border-radius: 6em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.gallery {
  display: flex;
  gap: 1rem;
  max-width: 80rem;
  background-image: linear-gradient(
    to right,
    rgb(126, 0, 126),
    rgb(129, 0, 129)
  );
  padding: 3rem;
  border-radius: 4em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.card {
  position: relative;
  left: 0;
  width: 6rem;
  height: 20rem;
  overflow: hidden;
  background: var(--background);
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  flex: 0.25;
  border-radius: 3rem;
}

.card img {
  position: relative;
  height: 20rem;
  object-fit: cover;
}

.card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
}

/* polish images center */

.card:nth-child(1) img {
  left: -3rem;
}
.card:nth-child(2) img {
  left: -5rem;
}
